ProjectTemplate/Temp/
ProjectTemplate/Library/
ProjectTemplate/.vs/
*.info
ZombieTown/Library/
ZombieTown/Temp/
ZombieTown/.vs
GameJam2016/Library/
GameJam2016/Temp/
GameJam2016/.vs
GameJam2016/GameJam2016.sln
GameJam2016/GameJam2016.CSharp.csproj
GameJam2016/GameJam2016.Editor.CSharp.csproj
GameJam2016/GameJam2016.Plugins.CSharp.csproj
GameJam2016/GameJam2016.CSharp.csproj.user
GameJam2016/GameJam2016.Plugins.csproj
GameJam2016/GameJam2016.Editor.csproj
GameJam2016/GameJam2016.csproj
